[Desktop Entry]
Name=XMind8
Comment=Create and share mind maps
Exec=xmind
Terminal=false
Type=Application
Icon=xmind
Categories=Office;
StartupNotify=true;
